
.carrusel{
    background-image: url("../assets/carrusel3.jpg");
    background-position: center;
    background-repeat: repeat;
    background-size: contain;
    opacity: .9;
        width: 100%;
        height: 41vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
    text-align: center;
}
.carrusel ul::before{
    content: "NOSOTROS";
    font-size: 50px;
    color: rgb(0, 0, 0);
    background-color: #00000000;
}
.carrusel ul li::after{
     content: "... NOSOTROS";
    font-size: large;
    color: rgb(0, 0, 0);
}
.carrusel ul{
    display: flex;
    flex-direction: column;
    list-style: none;
}
.carrusel ul li a {
    text-decoration: underline;
    color: rgb(255, 255, 255);
    font-size: x-large;

}

.muestras{
    margin: 4rem 0;
}

.muestras article{
/* border: 2px solid red */
margin: auto;
}
.muestras-container-1 {
    padding: 2% 0;
}
.muestras-container_descripcion-container p {
    line-height: 2rem;
    text-align: start;
    letter-spacing: .125rem;
    word-spacing: .250rem 
}
.muestras-container_presentacion-container {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    cursor: pointer;
    background-color: rgb(238, 215, 83);
}
.muestras-container_descripcion-container {
    top: auto;
}
.muestras-container_descripcion .muestras-container_descripcion-container{
    /*border: 2px solid rgb(0, 255, 72);*/
    margin: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.muestras-container-2 .muestras-container_descripcion{
    background-color: black;
    color: aliceblue;
}
@media (max-width:1000px){
    .muestras-container_descripcion-container p {
        line-height: 1.5rem;
        text-align: start;
        letter-spacing: 0;
        word-spacing: 0.0px ;
        margin-bottom: 0;
    }
}
@media (max-width:850px){
    .muestras-container_descripcion-container p {
        line-height: 1rem;
        text-align: center;
        letter-spacing: .125rem;
        word-spacing: 0.0px 
    }
}
@media (max-width:250px){
    .muestras-container_descripcion-container .btn{
        width: 50%;
        margin: auto;
    }
}