<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="	https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway&family=Roboto+Condensed&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="../styles.css">
    <link rel="stylesheet" href="../CSS/nosotros.css">
    <title>Nosotros</title>
</head>
<body>
    <div class="cointainer">
        <header>
            <nav>


                <div class="nav-movil">
                    <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions"><i
                            class="bi bi-list"></i></button>

                    <div class="offcanvas offcanvas-start " data-bs-scroll="true" tabindex="-1"
                        id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
                        <div class="offcanvas-header">
                            <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Backdrop with scrolling</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="offcanvas"
                                aria-label="Close"></button>
                        </div>
                        <div class="offcanvas-body">
    
                            <div class="header-nav">
                                <ul>
                                    <li>
                                        <a href="../index.html">
                                            <div class="contenedor-li">
                                              <h4> HOME</h4> 
                                            </div>
                                            <div class="contenedor-icon-li"><i class="bi bi-caret-up-fill"></i></div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="../views/nosotros.html">
                                            <div class="contenedor-li">
                                                <h4> NOSOTROS</h4>
                                            </div>
                                            <div class="contenedor-icon-li"><i class="bi bi-caret-up-fill"></i></div>
                                        </a>
                                    </li>
        
                                    <li>
                                        <a href="../views/nuestrosProductos.html">
                                            <div class="contenedor-li">
                                                <h4> NUESTROS PRODUCTOS</h4>
                                            </div>
                                            <div class="contenedor-icon-li"><i class="bi bi-caret-up-fill"></i></div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="../views/materiales.html">
                                            <div class="contenedor-li">
                                                <h4> MATERIALES</h4>
                                            </div>
                                            <div class="contenedor-icon-li"><i class="bi bi-caret-up-fill"></i></div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="../views/contacto.html">
                                            <div class="contenedor-li">
                                                <h4> CONTACTO</h4>
                                            </div>
                                            <div class="contenedor-icon-li"><i class="bi bi-caret-up-fill"></i></div>
                                        </a>
                                    </li>
        
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>




                <div class="header-nav-container">
                    <div class="header-logo">
                        <div class="header-logo_container">
                            <img class="img" src="../assets/logo-header.jpg" alt="">
                        </div>
                    </div>
                    <div class="header-nav">
                        <ul>
                            <li>
                                <a href="../index.html">
                                    <div class="contenedor-li">
                                        HOME
                                    </div>
                                    <div class="contenedor-icon-li"><i class="bi bi-caret-up-fill"></i></div>
                                </a>
                            </li>
                            <li>
                                <a href="../views/nosotros.html">
                                    <div class="contenedor-li">
                                        NOSOTROS
                                    </div>
                                    <div class="contenedor-icon-li"><i class="bi bi-caret-up-fill"></i></div>
                                </a>
                            </li>

                            <li>
                                <a href="../views/nuestrosProductos.html">
                                    <div class="contenedor-li">
                                        NUESTROS PRODUCTOS
                                    </div>
                                    <div class="contenedor-icon-li"><i class="bi bi-caret-up-fill"></i></div>
                                </a>
                            </li>
                            <li>
                                <a href="../views/materiales.html">
                                    <div class="contenedor-li">
                                       MATERIALES
                                    </div>
                                    <div class="contenedor-icon-li"><i class="bi bi-caret-up-fill"></i></div>
                                </a>
                            </li>
                            <li>
                                <a href="../views/contacto.html">
                                    <div class="contenedor-li">
                                        CONTACTO
                                    </div>
                                    <div class="contenedor-icon-li"><i class="bi bi-caret-up-fill"></i></div>
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <main>
            <section class="carrusel">
                

                <ul>
                    <li><a href="../index.html">home</a></li>
                </ul>
             



            </section>
            <section class="muestras">
                <article class="muestras-container-2 article-muestras">
                    <div class="muestras-container_presentacion">
                        <div class="muestras-container_presentacion-container">
                            <div class="cruz"><i class="bi bi-plus-lg"></i></div>
                            <div class="contenedor-img">
                                <img class="img" src="../assets/presentacion2.jpg" alt="">
                            </div>
                        </div>

                    </div>
                    <div class="muestras-container_descripcion">
                        <div class="muestras-container_descripcion-container">
                
                            <p>
                                En Diesca, con más de una década de experiencia en la industria del mobiliario a medida,
                                 somos especialistas en crear piezas únicas que reflejan tu estilo. Nuestro compromiso con la calidad y la artesanía se 
                                 refleja en cada proyecto. 
                                Estamos aquí para convertir tus ideas en muebles hechos a mano que se adaptan perfectamente a tus espacios.       
                            </p>
                            <button class="btn">CONOCENOS</button>
                        </div>
                    </div>
                </article>
                <article class="muestras-container-1 article-muestras">
                    <div class="muestras-container_presentacion">
                        <div class="muestras-container_presentacion-container">
                            <div class="cruz"><i class="bi bi-plus-lg"></i>
                            </div>
                            <div class="contenedor-img">
                                <img class="img" src="../assets/presentacion1.jpg" alt="">
                            </div>
                        </div>
                        
                    </div>
                    <div class="muestras-container_descripcion">
                        <div class="muestras-container_descripcion-container">
                  
                            <p>
                                En Diesca, entendemos que cada emprendimiento es único, al igual que sus necesidades de mobiliario. Con nuestros muebles a medida, puedes aprovechar al máximo cada rincón de tu local, optimizando el espacio y creando un ambiente atractivo que atraiga a tus clientes. En Diesca, estamos listos para colaborar contigo y diseñar muebles que se adapten a tus necesidades específicas, ayudándote a lograr el éxito en tu emprendimiento.
                            </p>
                            <button class="btn">CONOCENOS</button>
                        </div>
                    </div>
                </article>

                <article class="muestras-container-2 article-muestras">
                    <div class="muestras-container_presentacion">
                        <div class="muestras-container_presentacion-container">
                            <div class="cruz"><i class="bi bi-plus-lg"></i></div>
                            <div class="contenedor-img">
                                <img class="img" src="../assets/presentacion2.jpg" alt="">
                            </div>
                        </div>

                    </div>
                    <div class="muestras-container_descripcion">
                        <div class="muestras-container_descripcion-container">
                
                            <p>
                                En Diesca, sabemos que tu hogar es único. Nuestra especialidad en mobiliario a medida ofrece 
                                la solución perfecta para tu espacio vital. Imagina muebles diseñados para encajar a la perfección en tu hogar, maximizando el
                                espacio y reflejando tu estilo
                                personal. Convertiremos tus visiones  en realidad, mejorando el atractivo estético y funcional de tu hogar.
                            </p>
                            <button class="btn">CONOCENOS</button>
                        </div>
                    </div>
                </article>


            </section>
        </main>
        <footer>
            <div class="footer-superior">
                <div class="footer-superior_descripcion">
                    <div class="footer-logo">
                        <img class="img" src="../assets/logo-generico.jpg" alt="">
                    </div>
                    <div class="footer-frase">
                        <h3>Viví tu espacio antes de imaginarlo</h3>
                    </div>
                    <div class="footer-parrafo">
                        <p>Revolucionamos el diseño de vestidores y cocinas, usando los mas altos
                            estándares de calidad y diseño, aplicando tecnología para que vivas tus espacios antes de
                            ser
                            construidos</p>
                    </div>
                </div>
                <div class="datos-ubicacion">
                    <div class="redes-sociales">
                        <div><a href=""><i class="bi bi-instagram"></i></a><a href=""><i class="bi bi-facebook"></i></a>
                        </div>
                    </div>
                    <div class="direccion flex"><i class="bi bi-geo-alt"> </i>
                        <h6> Colón 5229, La Tablada, Buenos Aires. Argentina.</h6>
                    </div>
                    <div class="email-contacto flex"><i class="bi bi-envelope-open"> </i>
                        <h6>Diesca.muebles@gmail.com </h6>
                    </div>
                    <div class="telefono flex"><i class="bi bi-telephone"></i>
                        <h6>+54 11-5873-0538</h6>
                    </div>
                </div>
            </div>
            <div class="footer-inferior">
                <div class="copyright">
                    <h6>Copyright © 2023</h6>
                </div>
                <div class="logo-footer-inferior"> <i class="bi bi-instagram"></i>
                    <h6>Ramos Diego</h6>
                </div>
            </div>
        </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
        <script src="../main.js"></script>
</body>
</html>